.task/

.idea/

.env
node_modules
.vscode/
backend/.vscode/

supabase/.branches/
supabase/.temp/


.DS_STORE

.next/

backend/coverage.out
backend/coverage.html
backend/test_output.log
backednd/test_output_verbose.log